.button {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  outline: 0;
  border: 1px solid var(--color-gray-200);
  border-radius: 0.375rem;
  background-color: var(--color-gray-50);
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  color: var(--color-gray-900);
  user-select: none;

  @media (hover: hover) {
    &:hover:not([data-disabled]) {
      background-color: var(--color-gray-100);
    }
  }

  &:active:not([data-disabled]) {
    background-color: var(--color-gray-200);
    box-shadow: inset 0 1px 3px var(--color-gray-200);
    border-top-color: var(--color-gray-300);
  }

  &:focus-visible {
    outline: 2px solid var(--color-blue);
    outline-offset: -1px;
  }

  &[data-disabled] {
    color: var(--color-gray-500);
  }
}

.button-sm {
  height: var(--button-height-sm);
  padding: var(--button-padding-sm);
}
.button-md {
  height: var(--button-height-md);
  padding: var(--button-padding-md);
}
.button-lg {
  height: var(--button-height-lg);
  padding: var(--button-padding-lg);
}

/* Header */

.header {
  min-height: 60px;
  display: flex;
  justify-content: center;
  background: #ffffff;
}

.header-container {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Main */

.main {
  background: #d79f9f;
  width: 100%;
  min-height: calc(100dvh - 80px);
  padding-top: 20px;
}
